<header class="header">
  <ul class="chek-list">
    <li><a href="">Про магазин</a></li>
    <li><a href="">Список запчастин</a></li>
    <li><a href="">Доставка і оплата</a></li>
    <li><a href="">Гарантія і повернення</a></li>
  </ul>
  <div class="container">
    <div class="header-container">
      <a href="./index.html">logo</a>
      <h2>Подбор запчастей</h2>
    </div>
    <div class="header-container">
      <address>
        <a href="tel:+110001111111" class="contact-number"
          >+11 (000) 111-11-11</a
        >
      </address>
      <button class="telegram">Заказать обратный звонок</button>
    </div>
  </div>
</header>
