.brend-title{
margin-top: 20px;
margin-left: 20px;
margin-bottom: 20px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 колонки */
    gap: 20px;
    /* Отступы между элементами */
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    margin-bottom: 20px;
}

.image-grid li {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* Обрезает выходящие за границы части */
}

.image-grid img {
    width: 100%;
    height: auto;
    object-fit: cover;
    /* Заполняет контейнер без искажений */
    transition: transform 0.3s ease;
    /* Анимация при наведении */
}

.image-grid img:hover {
    transform: scale(1.05);
    /* Эффект увеличения */
}