@import url('./css/reset.css');

/* Sections style */
@import url('./css/header.css');
@import url('./css/footer.css');
@import url('./css/hero.css');
@import url('./css/main-section.css');
@import url('./css/brend-section.css');
@import url('./css/parts-section.css');
@import url('./css/reset.css');

.container,
footer,
section {
    margin-left: auto;
    margin-right: auto;
    max-width: 1260px;
    /* padding: 16px; */
    border: 1px solid #000;
    border-radius: 10px;
    margin-bottom: 5px;
}
